* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  color: white;
  box-sizing: border-box;
  font-family: "Pretendard";
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: beige;
}

input,
textarea,
select {
  outline: none !important;
}

button {
  cursor: pointer;
  user-select: none;
}

p {
  line-height: 25px;
}
