* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  color: white;
  box-sizing: border-box;
  font-family: "Pretendard";
}

body {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: #7eb1d3;
}

input,
textarea,
select {
  outline: none !important;
}

button {
  cursor: pointer;
  user-select: none;
}

p {
  line-height: 25px;
}

hr {
  border: 0.5px solid #ffffff80;
}

.layout {
  width: 90%;
  min-width: 360px;
  min-height: 90vh;
  border-radius: 10px;
  margin-top: 3rem;
  background-color: #00000066;
}

@media (max-width: 750px) {
  .layout {
    width: 100%;
    min-height: 100vh;
    border-radius: 0;
    margin-top: 0;
  }
}
